* {
  box-sizing: border-box;
}

html {
  background-color: beige;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: auto;
}

.display {
  display: flex;
  background-color: gray;
  height: 100px;
  color: #fff;
  font-weight: bold;
  font-size: 42px;
  padding: 10px;
  justify-content: flex-end;
  align-items: center;
}

.group {
  display: flex;
  height: 100px;
}

.btn {
  border: 0.7px solid rgb(184, 181, 181);
  color: #000;
  font-size: 27px;
}
